<a href="https://colab.research.google.com/github/ALXAVIER-DEV/Python/blob/master/Comandos_SQL_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url = ('https://raw.github.com/pandas-dev/pandas/master/pandas/tests/io/data/csv/tips.csv')

In [ ]:
tips = pd.read_csv(url)

In [ ]:
tips.head()

## 1º COMANDO SELECT

# SELECT total_bill, tip, smoker, time, 
# FROM tips
# LIMIT 5;

In [ ]:
## Mesmo comando em Python

tips[['total_bill', 'tip','smoker','time']].head(5)

## 2º Comando: WHERE

SELECT * 
FROM tips
WHERE time = 'Dinner'
LIMIT 5;

In [ ]:
tips[tips['time']== 'Dinner'].head(5)

## 3º Comand: AND E OR

In [ ]:
SELECT * 
FROM tips
WHERE time = 'Dinner' AND tip > 5.00;

In [ ]:
# Em Python

tips[(tips['time']== 'Dinner') & (tips['tip'] > 5.00)]

## 4º Comando Valor MISSING nos campos

In [ ]:
# Criando um dataframe com valores MISSINGS
frame = pd.DataFrame({'col1':['A','B', np.NaN,'C','D'],
                      'col2':['F',np.NaN, 'G','H', 'I']})

In [ ]:
#Valores Missing
frame[frame['col2'].isna()]

SELECT *
FROM frame
WHERE col2 IS NULL;

In [ ]:
# Valores não Missing
frame[frame['col1'].notna()]

In [ ]:
# Imagem 
from PIL import Image
%matplotlib inline
im = Imagem.open("MISSING.PNE")
im.show()

## Group by
SELECT sex, count(*)
FROM tips
GROUP BY sex;

/*
Female   87
Male    157
*/

In [ ]:
# Comando no PYTHON
tips.groupby('sex').size()

In [ ]:
tips.groupby('sex').count()

In [ ]:
tips.groupby('sex')['total_bill'].count()

## Comando : Join

In [ ]:
# Imagem
from PIL import Image
%matplotlib inline
im = Image.open("JOIN.JPG")
im.show()
im

SELECT * 
FROM df1
INNER JOIN df2
ON df1.key=df2.key;

In [ ]:
# Tabela 1
df1 = pd.DataFrame({'Nome': ['Marlos', 'Bruno', 'Kiwi', 'Hott'],
                    'Gorjeta': np.random.randn(4)})

In [ ]:
df1

In [ ]:
# Tabela 2
df2 = pd.DataFrame({'Nome': ['Marlos','Bruno','Kiwi','Hott'],
                    'Carro': ['Siena','Corola','Civic','Gurgel']})

In [ ]:
df2

In [ ]:
# Comando no PYTHON
pd.merge(df1,df2, on='Nome')