<a href="https://colab.research.google.com/github/ALXAVIER-DEV/Python/blob/master/Map_Filter_Reduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Definindo um array com a função built-in range()
array1 = range(0,15)

In [ ]:
print(array1)
type(array1)

In [ ]:
#Criando uma função para calcular o cubo de um número

def calc_cubo(num):
  return num ** 3

In [ ]:
for elemento in array1:
  print(calc_cubo(elemento))

In [ ]:
# Com a função map() aplicamos uma função a um conjunto de de elementos
lista_map_func = map(calc_cubo, array1)

In [ ]:
print(lista_map_func)

In [ ]:
print(list(lista_map_func))

In [ ]:
lista_map_func_2 = map(float, range(20))

In [ ]:
lista_map_func_2

In [ ]:
print(list(lista_map_func_2))

In [ ]:
from math import sqrt

In [ ]:
array2 = list(array1)

In [ ]:
array2

In [ ]:
print(list(map(sqrt, array2[0:5])))

##Filter
A função filter()permite filtrar elementos de uma lista. aplicamosuma função que retorna valores boleanaos (True ou False). Retornamos os valores onde a expressão é True e filtramos os valores onde a expressão é False.

In [ ]:
#Definindo um array com a dunção bulti-in range()
array1 = range(0,15)

In [ ]:
print(array1)

In [ ]:
type(array1)

In [ ]:
#Criando uma função para identificar se um numero é par
def verifica_Par(num):
  return num % 2 == 0

In [ ]:
verifica_Par(300)
verifica_Par(111)

In [ ]:
#Com a função map() aplicamos uma função a um conjunto de elementos 

list(map(verifica_Par,array1))

In [ ]:
# A função filter() retorna apenas os valores onde a expressão é igual a True,
# filtrando os valores onde a expressão retorna False
list(filter(verifica_Par, array1))

In [ ]:
# Lista de frases 
lista_frases = ["Big Data",
               "Data Science e Big Data",
               "Machine Learning em Big Data e Algoritmos em Big Data"
               "Big Data e Internet das Coisas",
               "Big Data está revolucionando o mundo, pois Big Data é um grande volume de dados"]

In [ ]:
# Crindo a Função
def testa_Big_Data(frases):
  return frases.count("Big Data") >= 2

In [ ]:
#Aplicando a função filter()
list(filter(testa_Big_Data, lista_frases))

In [ ]:
# Aplicando a função map()
list(map(testa_Big_Data, lista_frases))

## Reduce
A função reduce() aplica uma função a uma sequência de elementos, até reduzir a sequencia a um único elemento.

In [ ]:
from functools import reduce

In [ ]:
soma = reduce((lambda x, y: x + y), [1,2,3,4])

In [ ]:
soma