<a href="https://colab.research.google.com/github/ALXAVIER-DEV/Python/blob/master/Pandas_IO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Criando os nomes

In [ ]:

import pandas as pd

In [ ]:
Nomes_f =pd.read_json("https://servicodados.ibge.gov.br/api/v1/censos/nomes/ranking?qtd=200&sexo=f")

In [ ]:
Nomes_m =pd.read_json("https://servicodados.ibge.gov.br/api/v1/censos/nomes/ranking?qtd=200&sexo=m")

In [ ]:
print("Quantidade de Nomes : " +  str(len(Nomes_f )+ len(Nomes_m)))

In [ ]:
frames = [Nomes_f,Nomes_m]

In [ ]:
nomes = pd.concat(frames)['nome'].to_frame ()

In [ ]:
nomes.sample(5)

# Incluindo ID dos alunos

In [ ]:
import numpy as np
np.random.seed(123)

In [ ]:
total_alunos = len(nomes)
total_alunos

In [ ]:
nomes["id_aluno"] = np.random.permutation(total_alunos) +1

In [ ]:
nomes.sample(5)

In [ ]:
dominios = ['@dominiodoemail.com.br' , '@servicodoemail.com']
nomes['dominio'] = np.random.choice(dominios, total_alunos)

In [ ]:
nomes['email'] = nomes.nome.str.cat(nomes.dominio).str.lower()

In [ ]:
nomes.sample(5)

# Criando a tabela Cursos

In [ ]:
!pip3 install html5lib
!pip3 install lxml

In [ ]:
import html5lib
url = 'http://tabela-cursos.herokuapp.com/index.html'
cursos = pd.read_html(url)

In [ ]:
type(cursos)

In [ ]:
cursos.head(3)

In [ ]:
cursos.head(5)

# Alterando o Index de cursos

In [ ]:
cursos = cursos.rename(columns={'Nome do curso':'Nome_do_curso'})

In [ ]:
cursos.head(2)

In [ ]:
cursos['id'] = cursos.index + 1

In [ ]:
cursos.head(10)

In [ ]:
cursos = cursos.set_index('id')

In [ ]:
cursos.head(5)