<a href="https://colab.research.google.com/github/ALXAVIER-DEV/Python/blob/master/Pandas_IO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Criando os nomes

In [ ]:
import pandas as pd

 Importando nomes do sexo feminino via json utilizando uma api do IBGE

In [ ]:
Nomes_f =pd.read_json("https://servicodados.ibge.gov.br/api/v1/censos/nomes/ranking?qtd=200&sexo=f")

Importando nomes do sexo masculino  via json utilizando uma api do IBGE

In [ ]:
Nomes_m =pd.read_json("https://servicodados.ibge.gov.br/api/v1/censos/nomes/ranking?qtd=200&sexo=m")

Criando tabela unica com os nomes e printando a quantidade

In [ ]:
print("Quantidade de Nomes : " +  str(len(Nomes_f )+ len(Nomes_m)))

Transformmando a lista obtida em DataFrame

In [ ]:
frames = [Nomes_f,Nomes_m]

In [ ]:
nomes = pd.concat(frames)['nome'].to_frame ()

In [ ]:
nomes.sample(5)

# Incluindo ID dos alunos

In [ ]:
#Importando biblioteca numpy
import numpy as np
np.random.seed(123)

In [ ]:
# Verificando o total de nomes
total_alunos = len(nomes)
total_alunos

In [ ]:
# Criando id de alunos de forma aleatória
nomes["id_aluno"] = np.random.permutation(total_alunos) +1

In [ ]:
nomes.sample(5)

In [ ]:
# Criando dominios para e-mails aleatórios
dominios = ['@dominiodoemail.com.br' , '@servicodoemail.com']
nomes['dominio'] = np.random.choice(dominios, total_alunos)

In [ ]:
# Concatenando os nomes aos dominios criados
nomes['email'] = nomes.nome.str.cat(nomes.dominio).str.lower()

In [ ]:
nomes.sample(5)

# Criando a tabela Cursos

In [ ]:
# Importando html5 e xml para obter tabela de cursos Alura

!pip3 install html5lib
!pip3 install lxml

In [ ]:
import html5lib
url = 'http://tabela-cursos.herokuapp.com/index.html'
cursos = pd.read_html(url)

In [ ]:
# Verificando o tipo de dados cursos = list
type(cursos)

In [ ]:
# Transformando uma lista em DataFrame
cursos[0]

In [ ]:
cursos = cursos[0]

In [ ]:
type(cursos)

In [ ]:
cursos.head()

# Alterando o Index de cursos

In [ ]:
# Renomeando uma Coluna
cursos = cursos.rename(columns={'Nome do curso':'Nome_do_curso'})

In [ ]:
cursos.head(2)

In [ ]:
# Transformando o index em id
cursos['id'] = cursos.index + 1

In [ ]:
# Conferindo a Transformação
cursos.head(10)

In [ ]:
# Setando o index como id
cursos = cursos.set_index('id')

In [ ]:
cursos.head(5)

In [ ]:
nomes.sample(5)

# Matriculando os alunos nos cursos

In [ ]:
nomes ['matriculas'] = np.ceil(np.random.exponential(size=total_alunos) * 1.5).astype(int)

In [ ]:
nomes.sample(5)

In [ ]:
nomes.matriculas.describe()

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(nomes.matriculas)

In [ ]:
nomes.matriculas.value_counts()

In [ ]:
nomes.sample(5)

# Selecionando Cursos

In [ ]:
nomes.sample(3)

In [ ]:
todas_matriculas = []
x = np.random.rand(20)
prob = x /sum(x)

In [ ]:
for index, row in nomes.iterrows():
  id = row.id_aluno
  matriculas = row.matriculas
  for i in range(matriculas) :
    mat = [id, np.random.choice(cursos.index, p = prob)]
    todas_matriculas.append(mat)

matriculas = pd.DataFrame(todas_matriculas,columns = ['id_aluno','id_curso'] )

In [ ]:
matriculas.head()

In [ ]:
matriculas.groupby('id_curso').count().join(cursos['Nome_do_curso']).rename(columns={'id_aluno' : 'quantidade_de_alunos'})

In [ ]:
nomes.sample(3)

In [ ]:
cursos.head()

In [ ]:
matriculas.head()

In [ ]:
matriculas_por_curso = matriculas.groupby('id_curso').count().join(cursos['Nome_do_curso']).rename(columns={'id_aluno' : 'quantidade_de_alunos'})

In [ ]:
matriculas_por_curso.head()

# Saida em diferentes formatos Exportando para CSV

In [ ]:
matriculas_por_curso.head(20)

In [ ]:
matriculas_por_curso.to_csv('matriculas_por_curso.csv' , index = False)

In [ ]:
pd.read_csv('/content/matriculas_por_curso.csv')

In [ ]:
pd.read_csv('matriculas_por_curso.csv')

In [ ]:
matriculas_json = matriculas_por_curso.to_json()

In [ ]:
matriculas_json

In [ ]:
type(matriculas_json)

In [ ]:
matriculas_html = matriculas_por_curso.to_html

In [ ]:
print(matriculas_html)

In [ ]:
matriculas_html

In [ ]:
print(matriculas_html)

In [ ]:
matriculas

# Criando o banco SQL

In [ ]:
!pip install sqlalchemy

In [ ]:
from sqlalchemy import create_engine, MetaData, Table

In [ ]:
engine = create_engine('sqlite:///:memory:')

In [ ]:
engine

In [ ]:
type(engine)

In [ ]:
matriculas_por_curso.head(3)

In [ ]:
matriculas

In [ ]:
matriculas_por_curso.to_sql('matriculas', engine)

In [ ]:
print(engine.table_names())

In [ ]:
print(engine.table_names)

# Select no Python

In [ ]:
query = 'select * from matriculas where quantidade_de_alunos < 20'

In [ ]:
pd.read_sql(query, engine)

In [ ]:
pd.read_sql_table('matriculas', engine, columns= ['Nome_do_curso', 'quantidade_de_alunos'])

In [ ]:
muitas_matriculas = pd.read_sql_table('matriculas', engine, columns= ['Nome_do_curso', 'quantidade_de_alunos'])

In [ ]:
muitas_matriculas

In [ ]:
muitas_matriculas.query('quantidade_de_alunos > 60')

In [ ]:
muitas_matriculas.query('quantidade_de_alunos < 10')

# Escrevendo no Banco

In [ ]:
muitas_matriculas.to_sql('muitas_matriculas', con=engine)

In [ ]:
print(engine.table_names())

# Nome dos alunos e alunas da próxima turma.

In [ ]:
matriculas_por_curso.head(20)

In [ ]:
matriculas

In [ ]:
id_curso = 16

In [ ]:
proxima_turma = matriculas.query("id_curso == {}" . format(id_curso))
proxima_turma

In [ ]:
nomes.sample(3)

In [ ]:
nomes.sample(5)

In [ ]:
proxima_turma.set_index('id_aluno').join(nomes.set_index('id_aluno'))

In [ ]:
proxima_turma.set_index('id_aluno').join(nomes.set_index('id_aluno'))['nome']

In [ ]:
proxima_turma.set_index('id_aluno').join(nomes.set_index('id_aluno'))['nome'].to_frame()

In [ ]:
nome_curso = cursos.loc[id_curso]

In [ ]:
nome_curso

In [ ]:
nome_curso = nome_curso.Nome_do_curso

In [ ]:
nome_curso

In [ ]:
proxima_turma = proxima_turma.set_index('id_aluno').join(nomes.set_index('id_aluno'))['nome'].to_frame()

In [ ]:
proxima_turma

In [ ]:
proxima_turma.rename(columns={'nome': 'Alunos do Curso de {}'.format(nome_curso)})

In [ ]:
proxima_turma = proxima_turma.rename(columns={'nome': 'Alunos do Curso de {}'.format(nome_curso)})

In [ ]:
proxima_turma.head()

# Exportando para Excel

In [ ]:
proxima_turma.to_excel('proxima_turma.xlsx', index= False)

In [ ]:
pd.read_excel('proxima_turma.xlsx')