<a href="https://colab.research.google.com/github/Alexandre76Xavier/Python/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
np.random.seed(101)

In [0]:
df = pd.DataFrame(np.random.randn(5,4), index='A B C D E'.split(), columns = 'W X Y X '.split () )

In [5]:
df

          W         X         Y         X
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [6]:
df ['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [7]:
type (df["W"])

pandas.core.series.Series

In [10]:
df [['W', 'X']]

          W         X         X
A  0.302665  1.693723 -1.159119
B -0.134841  0.390528  0.184502
C  0.807706  0.072960  0.329646
D -0.497104 -0.754070  0.484752
E -0.116773  1.901755  1.996652

In [11]:
df.W

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [0]:
df ['New'] = df['W']/df['Y']

In [14]:
df

          W         X         Y         X       New
A  0.302665  1.693723 -1.706086 -1.159119 -0.177403
B -0.134841  0.390528  0.166905  0.184502 -0.807891
C  0.807706  0.072960  0.638787  0.329646  1.264437
D -0.497104 -0.754070 -0.943406  0.484752  0.526925
E -0.116773  1.901755  0.238127  1.996652 -0.490383

In [16]:
df.drop['New', axis = 1]

SyntaxError: ignored

In [17]:
df

          W         X         Y         X       New
A  0.302665  1.693723 -1.706086 -1.159119 -0.177403
B -0.134841  0.390528  0.166905  0.184502 -0.807891
C  0.807706  0.072960  0.638787  0.329646  1.264437
D -0.497104 -0.754070 -0.943406  0.484752  0.526925
E -0.116773  1.901755  0.238127  1.996652 -0.490383

In [0]:
df.loc